* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 16px --- 100%
    10px --- (100/16*10)=62.5 */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #fafaf8;
  line-height: 1.7;
}